:root {
	--dominant-font: "Roboto";
	--secondary-font: "Raleway";

	--dominant-color: #757575;
	--secondary-color: #212121;
	--accent-color: #2196f3;
}

body {
	font-family: var(--dominant-font), sans-serif;
	font-size: 14px;
}

/* ============= Reset ============= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* ============= Current ============= */

a.current-link {
	color: var(--accent-color);
}

/* ============= Flex ============= */

.container {
	width: 1200px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;

	outline: 1px solid tomato;
}

.nav-flex {
	display: flex;
	margin: 0 0 0 93px;
	padding: 0;
}

.nav-flex .list {
	margin-right: 50px;
}

.nav-flex .list:last-child {
	margin-right: 0;
}

/* .nav-flex li {
	outline: 1px solid tomato;
} */

.contact-flex {
	display: flex;
	padding: 0;
	margin: 0 0 0 331px;
}

.contact-flex .list + .list {
	margin-left: 50px;
}

.header-flex,
.peculiarities-flex {
	display: flex;
	align-items: center;
}

/* ============= Header ============= */

.header-flex {
	border-bottom: 1px solid #ececec;
}

.logo {
	display: block;
	/* background-color: tomato; */
	padding: 24px 0;

	text-decoration: none;
	/* margin: 24px 0; */
}

.logo-first {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	color: var(--accent-color);
	/* outline: 1px solid tomato; */
}

.logo-second {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;

	color: #000000;
}

.logo > .logo-second-white {
	color: #ffffff;
}

.nav-link {
	display: block;
	/* background-color: tomato; */
	padding: 32px 0;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	color: var(--secondary-color);
}

.selection:hover,
.selection:focus {
	color: var(--accent-color);
}

.contact-link {
	display: block;
	/* background-color: tomato; */
	padding: 32px 0;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	color: var(--dominant-color);
}

.hero-bg,
.footer-bg {
	background: #2f303a;
}

.hero-bg {
	text-align: center;
}

.hero-title {
	margin-bottom: 30px;
	padding-top: 200px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}

/* ============= Sections =============*/

.section {
	padding: 94px 0;

	outline: 2px solid blue;
}

/* ============= Btn =============*/

.btn {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid var(--accent-color);
	padding: 10px 32px;
	min-width: 200px;
	margin-bottom: 200px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: #ffffff;
	background: var(--accent-color);
}

.btn:hover,
.btn:focus {
	cursor: pointer;
}

.btn-filter {
	font-family: var(--dominant-font), sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;

	color: var(--secondary-color);
	background: #f5f4fa;
}

.btn-filter:hover,
.btn-filter:focus {
	cursor: pointer;
	color: #ffffff;
	background: var(--accent-color);
}

/* ============= Peculiarities Section =============*/

.peculiarities-list {
	display: flex;
}

.peculiarities-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--secondary-color);
}

.peculiarities-text {
	letter-spacing: 0.03em;

	color: var(--dominant-color);
}

/* ============= Section (Our comand ant What we do) =============*/

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--secondary-color);
}

.section-bg {
	background: #f5f4fa;
}

.work-list,
.workers {
	display: flex;
}

.name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	color: var(--secondary-color);
}

.work-position {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	color: var(--dominant-color);
}

/* ============= Footer =============*/

.adress {
	letter-spacing: 0.03em;
	text-decoration: none;
	font-style: normal;

	color: #ffffff;
}

.footer-contact-link {
	letter-spacing: 0.03em;
	text-decoration-line: none;

	color: rgba(255, 255, 255, 0.6);
}

/* ============= Portfolio =============*/

.title-portfolio {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--secondary-color);
}

.name-portfolio {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;

	color: var(--dominant-color);
}
